/* Style for the card text */
.CardText {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for the select element */
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  .select2 {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin:30px;
    
  }
  
  /* Style for the buttons */
  .button {
    background-color: #d62311;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #be2113;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(185, 27, 27, 0.2);
    padding: 40px;
    margin: 40px auto;
  }
  
  /* Button container on the left */
  .buttonContainerLeft {
    position: absolute;
    bottom: 30px; /* Adjust the vertical position */
    left: 30px; /* Adjust the horizontal position */
  }
  
  /* Button container on the right */
  .buttonContainerRight {
    position: absolute;
    bottom: 30px; /* Adjust the vertical position */
    right: 30px; /* Adjust the horizontal position */
  }
@media (max-width: 768px) {
    .container {
        width: 80%; /* Adjust the width for smaller screens */
        padding: 20px; /* Adjust the padding for smaller screens */
    }

}

/* Style for the card */
.card {
    text-align: center;
    background-color: #fff; /* Background color of the card */
    border: 1px solid #ddd; /* Add a border */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add padding for better spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  /* Style for the card title */
  .cardTitle {
    font-size: 24px; /* Adjust the font size */
    color: #333; /* Change the text color */
    margin-bottom: 10px; /* Add spacing below the title */
    font-weight: bold; /* Make the text bold */
  }
  
  /* Style for the card text */
  .cardText {
    font-size: 18px; /* Adjust the font size */
    color: #666; /* Change the text color */
    margin-bottom: 20px; /* Add spacing below the text */
  }
  
  /* Style for the select element */
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style for the buttons */
/* Define the CSS classes for animations */
.card-container {
    transition: transform 3s ease; /* Use 'transform' for a sliding animation */
  }
  
  .slide-in-left {
    transform: translateX(0%);
    transition: transform 1s ease;
  }
  
  .slide-out-right {
    transform: translateX(150%);
    transition: transform 0.8s ease;
  }
  
  .slide-in-right {
    transform: translateX(0%);
    transition: transform 1s ease;
  }
  
  .slide-out-left {
    transform: translateX(-150%);
    transition: transform 0.8s ease;
  }
  
  .progressBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .progressBar {
    width: 150%;
    height: 10px;
    background-color: #ccc;
    position: relative;
    border-radius: 10px;
  }
  
  .progressBarFill {
    height: 100%;
    background-color: #d62311;
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .progressText {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  