.container {
	display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 80%;
    border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(185, 27, 27, 0.2);
    padding: 40px;
    margin:40px auto;
}
.container3 {
	display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 70%;
    height: 15vh;
    border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(185, 27, 27, 0.2);
    padding: 40px;
    margin:40px auto;
}

.container2 {
	display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 30%;
    height: 5vh;
    border-radius: 10px;
	box-shadow: 4px 4px 10px rgba(185, 27, 27, 0.2);
    padding: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.container2:hover{
    transform: scale(1.05);
}

.container:hover{
    transform: scale(1.02);
}
@media (max-width: 768px) {
    .container {
        width: 80%; /* Adjust the width for smaller screens */
        padding: 20px;
    }
    
    .cardImage{
        width: 80%;
    }
}
.card{
    text-align: center;

}

.cardImage{
    width: 60%;
}
.resultTitle {
    font-size: 20px; /* Adjust the font size */
    color: #333; /* Change the text color */
    margin-bottom: 10px; /* Add spacing below the title */
    font-weight: bold; /* Make the text bold */
    padding-top: 25px;
    text-align: center;
  }
  
  /* Style for the card text */
  .resultText {
    font-size: 20px; /* Adjust the font size */
    color: #666; 
    margin-bottom: 20px; /* Add spacing below the text */
  }